LANGCHAIN_TRACING_V2=false
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=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

LLM_PROVIDER=google
OPENAI_API_KEY=<KEY>
GOOGLE_API_KEY=<KEY>

OPENAI_MODEL=gpt-4o-mini
GOOGLE_MODEL=gemini-2.5-flash-preview-05-20